*{
margin:0;
padding:0;
box-sizing: border-box;
/*بيشيل المسافات الديفولت */
}
.body-before-login i{
    font-size: 30px;
}
body{
    
}
header{
    width: 100%;
    height: 55px;
    background-color:#b846fa;
    color: white;
    position: fixed;
    z-index: 20;
}

.header-container{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
 
    width: 30%;
    padding-left: 40px;
    
}
.icon i{
    font-size: 28px;
    margin-right: 5px;
}
.icon h2{
    display: inline;
}
.heah_link{
    width: 70%;
    margin-right: 40px;
    display: flex;
    padding-left: 140px;
    justify-content: flex-end; 
    align-items: center; 
    /* background-color: brown; */
}

.heah_link .befor-links {
    width: 100px;
    height: 40px;
    margin-left: 10px;
    text-decoration: none;
    
}
.heah_link .serch-links {
    width: 100px;
    height: 40px;
    margin-left: 10px;
    text-decoration: none;
    
}
.heah_link  .search-p{
    font-size: 20px;

}


.a-login{
    color: white;
}
.a-register{
    color: black;
}

.heah_link button ,.heah_link .search-buuton ,.Dash-buuton{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  font-size: 20px;

}
.log-out-btn{
    background-color: #5a189a;
}
.log-out-btn:hover{
    background-color:#240046;
}
.dash-btn{
    background-color: #b846fa;
}
.dash-btn:hover{
    background-color: rgb(217, 180, 252);
}

.heah_link .search-buuton ,.Dash-buuton{
   /* background-color:#b846fa; */
   color: white;
}


.btn1{
  background-color: #7b2cbf;
  border:1px solid white  ;
}

.up-div{
    width: 100%;
    height: 60%;
    /* background-color: brown; */
    position: relative;
}
.section-before-login{
    position: absolute;
    width: 800px;
    height: 300px;
    /* background-color: aqua; */
    text-align: center;
    padding: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.section-before-login h1{
    padding-top: 20px;
    font-size: 40px;
}

.section-before-login p{
    padding: 20px 0px;
    font-size: 25px;
}
.x{
    width: 150px;
    height: 50px;
}
.section-before-login button{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin-top: 50px;
    margin-left: 10px;
    cursor: pointer;
}
.section-before-login-leftbutton{
    background-color: #7b2cbf;
}
.down-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 70px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.down-div .item{
    width: 250px;
    /* height: 250px; */
    background-color: #7b2cbf;
    border-radius: 15px;
    text-align: center;
    padding: 35px 30px;
}

.item h2{
    padding: 30px 0px;
}
.last-div{
    /* margin-top: 20px ; */
    height: 50px;
    padding-top: 15px;
    text-align: center;
    width: 100%;
    /* background-color: aqua; */
    border: 1px gray solid;
}


/* //////////////////////////////// */

.sec-login{
    width: 90%;
    height: 100vh;
    margin: auto;    
}


.log-form{
    width: 400px;
    /* height: 450px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 5px 1px black; 
    padding: 10px;
}
.log-content{
    width: 90%;
    margin: auto;
    text-align: center;
}
.log-input{
    padding-left: 20px;
}
.log-form label{
    display: block;
}

.log-form i{
    font-size: 30px;
    padding-top: 20px;
    color: blueviolet;
}
.log-form h2{
    padding-bottom: 20px;
}
.log-form .p-login{
    font-size: 25px;
    padding-top: 10px;
}

.log-form input ,.log-submit{
    width: 350px;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
     border-radius: 10px;
     border: 1px solid black;

}
.log-submit{
    border: none;
    background-color: blueviolet;
    box-shadow:0px 2px 5px 1px black ;
    font-size: 20px;
}

.log-form input::placeholder{
    font-size: 20px;
}
.log-form  .pas-input::placeholder{
    font-size: 30px;
    
}

.p-toregister ,.p-tohome{
    padding-top: 20px;
   text-align: center;
}
.p-toregister a ,.p-tohome a{
    text-decoration: none;
}
/* /////////////////////////////////// */


.register{
    position: relative;
    height: 110vh;
    width: 100%;
    /* background-color: aqua; */
}
.register-container{
    position: absolute;
    width: 400px;
    /* height: 600px; */
    border: none;
    border-radius: 10px;
   top: 50%;
   left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    box-shadow: 2px 2px 5px 1px black;
    padding: 10px;
}
.register-container i{
    font-size: 30px;
    padding-top: 20px;
    color: blueviolet;

}
.register-container h2{
    font-size: 30px;
    padding-bottom:20px;
}
.register-container-meddilediv{
    text-align: left;
    padding-left: 20px;
}
label{
    display: block;
}
.register-container-meddilediv input{
    width: 350px;
    height: 40px;
    padding-left: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.register-container-meddilediv  .pas-input::placeholder{
    font-size: 30px;

}
.p-toregister ,.p-tohome{
    padding-top: 20px;
   text-align: center;
}
.log-submit{
    border: none;
    background-color: blueviolet;
    box-shadow:0px 2px 5px 1px black ;
    width: 350px;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
     border-radius: 10px;
     border: 1px solid black;
}
.p-toregister a ,.p-tohome a{
    text-decoration: none;
}

/* after login  */




.after-login-dashbord-container{
    width: 80%;
    height: 130vh;
    margin-left: 10%;
    padding-top: 70px;
}

.after-login-dashbord-upperdiv{
    width: 100%;
    height: 40%;

    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}
.after-login-dashbord-upperdiv-item{
    padding: 40px;
    border-radius: 10px;
    background-color: orange;
}
.after-login-dashbord-upperdiv-item h2{
    padding-top: 20px;
}
.after-login-dashbord-lowerdiv{
    width: 100%;
    margin-top: 5%;
    background-color: red;
        border-radius: 10px;
}
.after-login-dashbord-lowerdiv-div1{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}






/*/////////////////////////////////////////////////*/

/* ///////////////////////////////////////////////////////////// */
/* search */
.search-conteaner{
    width: 90%;
    height: 150vh;
    padding-top: 80px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.search-upper{
    width: 90%;
    height: 20%;
    /* padding-left: 10px; */
    /* background-color: brown; */
    box-shadow: 1px 2px 5px 1px black;
    border-radius: 10px;
}
.search-upper-labal{
    display: block;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 40px;
}
.search-upper-input{
    width: 80%;
    height: 50px;
    margin-top: 20px;
    margin-left: 40px;
    padding-left: 10px;
   border: 1px solid #b846fa;
   border-radius: 10px;
}
.search-upper-input::placeholder{
    font-size: 20px;
    /* padding-left: 10px; */

}
.search-upper-button{
    width: 10%;
    height: 50px;
    background-color: #7b2cbf;
    font-size: 20px;
    margin-left: 10px;
    border: none;
    color: white;
    border-radius: 10px;
}
.search-bottom{
    width: 90%;
    height:75% ;
    margin-top: 40px;
    /* background-color: burlywood; */
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 2fr 2fr;
    gap: 30px;
}

.search-bottom-item{
    /* background-color: blue; */
    border: 1px solid black;
    border-radius: 10px;
}



/* ////////////////////////////////////////////// */





/* add-form */
.add-card{
    width:600px;
    /* height: 450px; */
    box-shadow: 1px 1px 40px -20px gray;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 20px;
    border-radius: 10px;
    transform: translate(-50%,-50%);   
}



.add-upper{
    width: 100%;
    height: 15%;
    margin: auto;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.add-tital{
    font-size: 20px;
}

.add-backtohome{
    text-decoration: none;
    color: rgb(156, 156, 156);
    font-size: 18px;
    word-spacing: 2px;
}

.add-conteaner{
    width: 100%;
    height: 85%;
    padding: 25px;
    /* background-color: #b846fa; */
    /* margin-top: 10px; */
}

.add-conteaner p{
    font-size: 20px;
    margin-bottom: 10px;
}

.booktitle-input{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 18px;
}
.author-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.x{
    width: 48%;
    height: 100%;
}
.author-div input{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border:  1px solid black;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 18px;
    padding-right: 5px;

}

.author-div p{
    margin-bottom: 10px;
}

.AddBook-btn{
    width: 75%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 20px;
  font-size: 18px;
  background-color: #5a189a;
  color: white;

}

.canceladd-btn{
  width: 20%;
  height: 50px;
  border-radius: 10px;
  margin-left: 10px;
  border: 1px solid black;
  margin-top: 20px;
  font-size: 18px;

}


/*////////////////////////////////////////////////////////////////*/




/* ////////////////////////////////////////////////////////////// */
/* brrow form */

.brrow-card{
    width: 500px;
    height: 500px;
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 5px 5px 40px -20px gray ;
    border-radius: 10px;
}

.brroe-tital{
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 25px;
}

.p-selectbook ,.p-selectuser{
    font-size: 20px;
    margin-bottom: 10px;
    padding-left:20px ;
}

.select_Book ,.select_User {
    width: 90%;
    height: 10%;
    margin-bottom: 25px;
    border-radius: 10px;
    margin-left: 25px;
    padding-left: 10px;
    font-size: 18px;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.borrow-date{
    width: 90%;
    /* height: 100px; */
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-date p,.left-date p{
    /* padding-left: 10px; */
    margin-bottom: 10px;
    font-size: 20px;
}
.right-date ,.left-date {
   width: 45%;
}

.right-date input,.left-date input{
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 5px;
  font-size: 20px;
  border: 1px solid black;
}


/* input::placeholder{
    opacity: 0.5;
} */
.borrow-btn{
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 10px;
}

.request-btn ,.cancel-btn{
    width: 200px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 18px;
   cursor: pointer;
    
}

.request-btn{
    background-color: #240046;
    color: white;

}

/*////////////////////////////////////////////////////////*/






























/*///////////////////////////////////*/
/* colors
/* ===============================
   ROYAL PURPLE MIX – NO YELLOW
   PUT AT END OF CSS
================================ */

:root{
    --bg:#0f0b1e;            /* خلفية عامة */
    --bg-soft:#15112b;       /* خلفية ثانوية */
    --card:#1b163a;          /* الكروت */
    --purple:#7b5cff;        /* بنفسجي أساسي */
    --purple-dark:#5a3fd0;   /* غامق */
    --purple-light:#a78bfa;  /* فاتح */
    --text:#f1f1f7;          /* نص أساسي */
    --muted:#a1a1b3;         /* نص ثانوي */
    --danger:#c9184a;
  }
  
  /* BODY */
  body{
    background-color: var(--bg);
    color: var(--text);
    font-family: "Segoe UI", Tahoma, sans-serif;
  }
  
  /* HEADER */
  header{
    background: linear-gradient(135deg, #1b163a, #0f0b1e) !important;
    border-bottom: 1px solid var(--purple);
  }
  
  .icon h2{
    color: var(--purple-light);
  }
  
  .icon i{
    color: var(--purple);
  }
  
  /* NAV BUTTONS */
  .heah_link button{
    background-color: transparent;
    border: 1px solid var(--purple);
    color: var(--purple-light);
  }
  
  .heah_link button:hover{
    background-color: var(--purple);
    color: white;
  }
  
  /* LOGOUT */
  .log-out-btn{
    border-color: var(--danger);
    color: var(--danger);
  }
  
  .log-out-btn:hover{
    background-color: var(--danger);
    color: white;
  }
  
  /* DASHBOARD STATS */
  .after-login-dashbord-upperdiv-item{
    background: linear-gradient(135deg, #241f4d, #1b163a);
    border: 1px solid var(--purple);
    color: var(--purple-light);
  }
  
  /* CARDS */
  .add-card,
  .brrow-card,
  .search-upper,
  .search-bottom-item,
  .after-login-dashbord-lowerdiv,
  .log-form,
  .register-container{
    background-color: var(--card);
    border: 1px solid #2f2a55;
    border-radius: 15px;
  }
  
  /* TITLES */
  .add-tital,
  .brroe-tital,
  .after-login-dashbord-container-title,
  .search-upper-labal{
    color: var(--purple-light);
  }
  
  /* INPUTS */
  input,
  select{
    background-color: var(--bg-soft);
    border: 1px solid var(--purple);
    color: var(--text);
  }
  
  input::placeholder{
    color: var(--muted);
  }
  
  input:focus,
  select:focus{
    outline: none;
    border-color: var(--purple-light);
  }
  
  /* PRIMARY BUTTONS */
  .AddBook-btn,
  .request-btn,
  .search-upper-button,
  .log-submit{
    background: linear-gradient(135deg, var(--purple), var(--purple-dark));
    color: white;
    border: none;
    font-weight: 600;
  }
  
  .AddBook-btn:hover,
  .request-btn:hover,
  .search-upper-button:hover,
  .log-submit:hover{
    filter: brightness(1.1);
  }
  
  /* CANCEL BUTTONS */
  .cancel-btn,
  .canceladd-btn{
    background-color: transparent;
    border: 1px solid var(--muted);
    color: var(--muted);
  }
  
  .cancel-btn:hover,
  .canceladd-btn:hover{
    background-color: #2a2550;
    color: white;
  }
  
  /* SEARCH RESULT BOX */
  .search-bottom-item{
    background-color: var(--bg-soft);
  }
  
  /* FOOTER */
  .last-div{
    background-color: #0b0820;
    color: var(--muted);
    border-top: 1px solid #2f2a55;
  }
  
  /* SMOOTH EFFECT */
  button{
    transition: 0.25s ease;
    cursor: pointer;
  }